@model Login
@{ 
    Layout = "_Layout";
}
<section id="pg-fis" class="scroll-secao fis-login">
    <div class="container">
        <div class="fis-logo">
            <svg id="fis-icon-logo" viewBox="0 0 65 32">
                <title></title>
                <path d="M56.013 13.747c0-0.614-0.486-1.101-1.101-1.101h-12.723c-2.33 0-4.198 1.792-4.198 4.122s1.894 4.096 4.198 4.096h10.214c0.998 0 1.792 0.922 1.792 1.894 0 0.998-0.819 1.894-1.792 1.894h-12.723c-0.614 0-1.101 0.486-1.101 1.101s0.486 1.101 1.101 1.101h12.723c2.33 0 4.198-1.792 4.198-4.096 0-2.33-1.894-4.096-4.198-4.096h-10.214c-0.998 0-1.792-0.922-1.792-1.894 0-0.998 0.819-1.894 1.792-1.894h12.723c0.614 0 1.101-0.512 1.101-1.126z"></path>
                <path d="M33.587 7.757c0-0.896-0.717-1.613-1.613-1.613s-1.613 0.717-1.613 1.613c0 0.896 0.717 1.613 1.613 1.613 0.896-0.026 1.613-0.742 1.613-1.613z"></path>
                <path d="M28.467 7.757c0-0.896-0.717-1.613-1.613-1.613s-1.613 0.717-1.613 1.613c0 0.896 0.717 1.613 1.613 1.613 0.896-0.026 1.613-0.742 1.613-1.613z"></path>
                <path d="M23.347 7.757c0-0.896-0.717-1.613-1.613-1.613s-1.613 0.717-1.613 1.613c0 0.896 0.717 1.613 1.613 1.613 0.896-0.026 1.613-0.742 1.613-1.613z"></path>
                <path d="M18.253 7.757c0-0.896-0.717-1.613-1.613-1.613s-1.613 0.717-1.613 1.613c0 0.896 0.717 1.613 1.613 1.613 0.896-0.026 1.613-0.742 1.613-1.613z"></path>
                <path d="M13.133 7.757c0-0.896-0.717-1.613-1.613-1.613s-1.613 0.717-1.613 1.613c0 0.896 0.717 1.613 1.613 1.613 0.896-0.026 1.613-0.742 1.613-1.613z"></path>
                <path d="M24.858 12.646c-0.026 0-0.077 0-0.102 0v0h-10.829c-4.301 0-7.219 2.816-7.219 7.117v6.016c0 0.666 0.538 1.203 1.203 1.203s1.203-0.538 1.203-1.203v-6.016c0-2.97 1.792-4.915 4.813-4.915h10.829c0.026 0 0.077 0 0.102 0 0.614 0 1.101-0.486 1.101-1.101 0-0.589-0.486-1.101-1.101-1.101z"></path>
                <path d="M10.342 19.763c0 0.614 0.486 1.101 1.101 1.101h11.034c0.614 0 1.101-0.486 1.101-1.101s-0.486-1.101-1.101-1.101h-11.034c-0.614 0-1.101 0.512-1.101 1.101z"></path>
                <path d="M30.771 13.747v12.032c0 0.666 0.538 1.203 1.203 1.203s1.203-0.538 1.203-1.203v-12.032c0-0.666-0.538-1.203-1.203-1.203-0.666 0.026-1.203 0.563-1.203 1.203z"></path>
            </svg>
        </div>
        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-contact" }))
        {
            @Html.TextBoxFor(model => model.User, null, new { placeholder = "Usuário" })
            @Html.ValidationMessageFor(model => model.User)

            @Html.TextBoxFor(model => model.Password, null, new { placeholder = "Senha", type = "password" })
            @Html.ValidationMessageFor(model => model.Password)


            <button type="submit" class="btn-login">Entrar<span><img src="~/images/ajax-loader.gif"></span></button>
            @if (ViewBag.Message != null)
            {
                <div class="message" style="display: block;">
                    @Html.Raw(ViewBag.Message)
                </div>
            }

        }
    </div> <!-- container -->
</section> <!-- pg contato -->
<script>
    let height = $(window).height();
    console.log(height);
    //$('#').height(height);
    $('body').css('padding', 0).height(height)

    $('.btn-login').on('click',function(){
        let login = $('#User').val();
        let pass = $('#Password').val();
        if(login != '' && pass != '')
        {
           $('.btn-login span').show();
        }
    });
</script>